@font-face {
    font-family: 'MinecraftBold';
    src: url('MinecraftBold-nMK1.otf') format('opentype');
}

@font-face {
    font-family: 'MinecraftRegular';
    src: url('MinecraftRegular-Bmg3.otf') format('opentype');
}

:root {
    --logo-width: 400px; /* Adjusted size of the logo */
    --steve-width: 550px;
    --bubble-width: 450px;
    --bubble-padding: 30px;
    --bubble-top: 30%; /* Lower the bubble slightly */
    --bubble-right: 10%;
    --music-toggle-size: 60px;
    --music-icon-size: 40px;
    --font-family: 'MinecraftRegular', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background-image.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: var(--font-family);
    margin: 0;
}

.logo {
    width: var(--logo-width);
    margin-bottom: 20px;
}

.container {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
}

#instruction {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#steve {
    width: var(--steve-width);
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bubble {
    position: absolute;
    top: var(--bubble-top);
    right: var(--bubble-right);
    width: var(--bubble-width);
    padding: var(--bubble-padding);
    background: white;
    border-radius: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#quote {
    margin: 0;
    font-family: var(--font-family);
    font-size: 1.5em;
}

.music-toggle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: var(--music-toggle-size);
    height: var(--music-toggle-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-toggle img {
    width: var(--music-icon-size);
    height: var(--music-icon-size);
    filter: invert(100%);
}
